.backgroundJumbo {
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
    margin-top: 50px;
}

.thumb {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
}

.gosip {
    -webkit-filter: brightness(60%);
}

.konten{
    margin-top: 120px;
}